@font-face {
    font-family: snapchat;
    src: url(snapchat.otf);
}

body {
    font-family: snapchat;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.container {
    background: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
}
.logo {
    width: 120px; /* Adjust the width as needed */
    height: auto;
    margin: 0 auto 0px;
    display: block;
}
.form-group {
    text-align: left;
}
.form-control {
    border-radius: 4px;
}
.btn-primary {
    background-color: #fffc00;
    border: none;
    color: #000;
}
.btn-primary:hover {
    background-color: #f0f0f0;
}
.alternative-actions {
    margin-top: 1rem;
    text-align: center;
}
.alternative-actions a {
    color: #007bff;
    text-decoration: none;
}
.alternative-actions a:hover {
    text-decoration: underline;
}